
<div id="app_loader" class="loader-activity">
    <div class="loader">
        <img src="@(Url.Content("~/Content/app/images/loader-anim.gif"))" alt="Weston Interactive - Loading..." />
    </div>
    <div id="app_loader_msg" class="message">
        Loading Your Experience...
    </div>
</div>